<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDisplayName</key>
  <string>SpinDeck</string>
  <key>CFBundleName</key>
  <string>SpinDeck</string>
  <key>LSEnvironment</key>
  <dict>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>
  <!-- AppleEvent 自动化权限：控制 QQ 音乐等第三方应用所必需 -->
  <key>NSAppleEventsUsageDescription</key>
  <string>SpinDeck needs to send Apple events to control music playback in QQ Music.</string>
</dict>
</plist>
